<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/bootstrap.json.jbuilder", user: current_user).html_safe %>
  </script>
<% end %>

<main id="root"></main>
