/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "variables";

body {
  background-color: $login-bg-color;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 38px;
  font-weight: bold;
}

h3 {
  font-size: 17px;
  font-weight: bold;
}

.company-logo {
  background-image: url(asset_path("basecamp-logo.png"));
  background-repeat: no-repeat;
  background-size: $logo-size $logo-size;
  height: $logo-size;
  width: $logo-size;
}

a {
  color: $bc-black;
}

a:visited {
  color: $bc-black;
}

a:hover {
  color: $bc-green;
}

a:active {
  color: $bc-green;
}
