@import "variables";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(white, 0.9);
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  height: 5vw;
  box-sizing: border-box;
}

.header-left {
  transition: all 0.2s ease;
  width: 19%;
  height: 100%;
  padding: 5px 0;
}

.header-left a {
  text-decoration: none;
}

.header-left a:hover {
  color: black;
}

.header-left:hover {
  transition: all 0.2s ease;
  transform: scale(1.1);
}

.company-logo {
  width: 27%;
  float: left;
  padding-top: 10%;
  left: 10%;
  position: relative;
  transform: translateX(-50%) translateY(-50%);
}

.header-left h1 {
  margin-left: 10px;
  float: left;
  padding-top: .6vw;
  font-size: 2.4vw;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-right a {
  margin-left: 7px;
}

header a {
  font-size: 1.2vw;
  font-weight: bold;
}

#sign-up-button {
  transition: all 0.2s ease;
  background-color: $bc-black;
  color: white;
  padding: 12px 20px 9px 20px;
  border-radius: 3em;
  text-decoration: none;
}

#sign-up-button:hover {
  transition: all 0.2s ease;
  background-color: $bc-green;
}
