@import "variables";

.hub-show-wrapper {}

.hub-show-container {
  width: 848px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.hub-tiles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hub-show-tile {
  width: 215px;
  height: 225px;
  padding: 18px 24px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
}

.hub-header {
  width: 100%;
  color: $bc-black;
  margin: 0 0 30px 0;
}

.hub-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 8px 0;
}

.hub-description {
  font-size: 16px;
  text-align: center;
}

.hub-tile-title {
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.hub-show-tile.message-board {
  overflow: hidden;
}

.message-post-preview {
  width: 215px;
  height: 38px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.message-post-preview-title {
  font-weight: bold;
}

.hub-show-tile.todo-list {}

.todo-list-preview {
  width: 215px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.todo-list-name {
  font-weight: bold;
}

.task-preview {
  padding: 1px 0px 1px 15px;
}

.hub-show-tile.schedule {}

.event-preview {
  width: 215px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.event-preview-dates {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.event-preview-notes {
  font-weight: bold;
}
