@import "variables";

#message-board-wrapper {
  width: 100%;
}

#message-board-header {
  width: 848px;
  height: 126px;
  background-color: white;
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),
    0 10px 30px #f3ece8;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}

#message-board-body {
  width: 928px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),
    0 10px 30px #f3ece8;
  border-radius: 2px;
  margin-top: -88px;
}

#message-board-body-title {
  width: 83%;
  margin: 0 auto;

  h1 {
    padding: 60px 0 10px 0;
    color: $bc-black;
    font-size: 2em;
    border-bottom: 3px solid $bc-black;
  }
}

#hub-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#mb-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.link-spacer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.mb-post-title {
  font-weight: bold;
  display: block;
  font-size: 18px;
  margin: 0 0 5px 0;
  text-align: left;
}

.message-board-post {
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.post-info {
  display: flex;
  flex-direction: row;
}

.post-info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.posts-list {
  width: 80%;
  margin: 0 auto;

  a {
    text-decoration: none;
  }
}

.posts-list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  &:last-child {
    border-bottom: none;
  }
}

.this-post {}

.this-post-title {
  color: $bc-black;
  font-size: 38px;
  font-weight: bold;
  padding: 60px 0 15px 0;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.this-post-body {
  text-align: left;
  padding: 20px 0 80px 90px;
}

#this-post-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 0 0 0;
  width: 83%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  p {
    font-size: 18px;
    padding: 0 0 8px 10px;
  }
}

#delete-button {
  position: relative;
  width: 50px;
  height: 50px;
  right: 14px;
  top: 13px;
  float: right;

  button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 2px solid red;
    outline: 0;
    border-radius: 100%;
    background-color: white;
    color: red;

    i {
      font-size: 34px;
    }
  }
}

#create-button {
  display: block;
  position: absolute;
  margin: 60px 0 0 0;
  background-color: green;
  color: white;
  padding: 10px 10px;
  border-radius: 2em;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}

.new-post-form {
  width: 928px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),
    0 10px 30px #f3ece8;
  border-radius: 2px;
  margin-top: -88px;
  display: flex;
  flex-direction: column;
}

#post-title {
  font-size: 40px;
  font-weight: bold;
  padding: 0;
  margin: 40px 100px 10px 100px;
  outline: 0;
  border: none;
}

#post-body {
  font-family: 'Roboto', sans-serif;
  outline: 0;
  border: none;
  font-size: 18px;
  margin: 20px 100px 10px 100px;
  word-wrap: break-word;
  word-break: break-all;
}

.horizontal-divider {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 1px;
}

.post-submit,
.post-cancel {
  margin-right: 20px;
  outline: 0;
  padding: 8px 20px;
  border-radius: 2em;
  border: 1px solid $bc-green;
}

.post-submit {
  background-color: $bc-green;
  color: white;
}

.post-cancel {
  background-color: white;
  color: $bc-green;
}

#post-buttons {
  display: flex;
  flex-direction: row;
  margin: 10px 0 15px 100px;
}
