@import 'variables';

.org-view-header {
  position: static;
  display: flex;
  flex-direction: row;

  background-color: transparent;
  height: 50px;
  margin: 0 0 20px 0;
  padding: 5px;
}

.left-header-item img {
  height: 40px;
}

.right-header-item i {
  font-size: 40px;
}

.center-header-item {
  margin: auto;
}

.center-header-item nav {
  display: flex;
  flex-direction: row;
}

.nav-items div {
  padding: 0 20px 0 0;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 1.2em;
}
