@import "variables";

.signin-container {
  max-width: 1000px;
  margin: 20px auto;
}

.signin-container h2 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.signin-box {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  margin: 0 auto;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 #bfbfbf;
  padding: 30px;
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.signin-form input {
  padding: 15px 10px;
  border-radius: 4px;
  border: 1px solid #bfbfbf;
  font-size: 17px;
}

#break-container {
  position: relative;
  text-align: center;
  margin: 5px 0;
}

#break {
  display: inline-block;
  padding: 0 0.5em;
  margin: 0 auto;
}

#break-container:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-bottom: 1px solid #d9d9d9;
  z-index: -1;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.field label {
  font-weight: bold;
}

#guest-signin-button {
  padding: 15px;
  border: 1px solid $bc-green;
  border-bottom-width: 2px;
  border-radius: 4px;
  background-color: rgb(86, 199, 110);
  margin-bottom: 10px;
  cursor: pointer;
}

#guest-signin-button:active {
  transition: all 0.1s ease;
  background-color: rgb(67, 153, 85);
  box-shadow: 0 0 10px 5px rgb(67, 153, 85);
}

.session-submit {
  background-color: white;
  cursor: pointer;
}

.session-submit:active {
  transition: all 0.1s ease;
  background-color: #bfbfbf;
  box-shadow: 0 0 10px 5px #bfbfbf;
}

.login-errors {
  color: #e72d2d;
}

.login-errors li {
  margin-top: 10px;
}
